@font-face { font-family: 'FHWA Series B'; src: url("../fonts/Highway Gothic Condensed.ttf"); }

@font-face { font-family: 'FHWA Series C'; src: url("../fonts/Highway Gothic Narrow.ttf"); }

@font-face { font-family: 'FHWA Series D'; src: url("../fonts/Highway Gothic.ttf"); }

html { margin: 0; padding: 0; }

body { margin: 0; padding: 4rem 0 0 0; text-align: center; background-image: -webkit-gradient(linear, left top, left bottom, from(#5588cc), to(#88ccff)); background-image: linear-gradient(to bottom, #5588cc, #88ccff); background-position: center; background-size: cover; background-repeat: no-repeat; min-height: 100vh; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-font-kerning: normal; font-kerning: normal; }

.street-sign { display: inline-block; font-size: 8vw; -webkit-box-sizing: content-box; box-sizing: content-box; position: relative; background-clip: border-box; margin-top: 4rem; margin-bottom: 4rem; background-color: #ccc; }

.street-sign::before { content: ''; position: absolute; top: 0; bottom: 0; left: 0; right: 0; display: block; background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10.66667%, transparent), color-stop(13.66667%, black), color-stop(16.66667%, transparent), color-stop(83.33333%, transparent), color-stop(86.33333%, white), color-stop(89.33333%, transparent)); background-image: linear-gradient(to bottom, transparent 10.66667%, black 13.66667%, transparent 16.66667%, transparent 83.33333%, white 86.33333%, transparent 89.33333%); }

.street-sign__main-decal { display: inline-block; border: 0.25em solid transparent; background-color: #008844; background-clip: padding-box; color: #ffffff; width: auto; position: relative; line-height: 0; padding-left: 0.25em; padding-right: 0.25em; }

.street-sign__layout { display: inline-grid; grid-template-areas: 'direction name designator' 'direction name block-number'; height: 1em; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-line-pack: justify; align-content: space-between; }

.street-sign__layout > .street-sign__layout__direction { grid-area: direction; }

.street-sign__layout > .street-sign__layout__name { grid-area: name; }

.street-sign__layout > .street-sign__layout__designator { grid-area: designator; padding-top: 0.0625em; }

.street-sign__layout > .street-sign__layout__block-number { grid-area: block-number; padding-bottom: 0.03125em; }

.street-sign__layout > * { padding-left: 0.125em; padding-right: 0.125em; }

.street-sign__direction-wrapper { display: block; height: 0.875em; width: 0.875em; text-align: center; background-image: url("../diamond.svg"); background-position: center; background-repeat: no-repeat; background-size: contain; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.street-sign__direction-wrapper > .street-sign__direction { display: block; font-family: 'FHWA Series C'; font-size: 52.23881%; line-height: 0.62; padding-top: 0.05em; color: #008844; }

.street-sign__name { display: block; font-size: 130.59701%; line-height: 0.62; padding-top: 0.05em; font-family: 'FHWA Series B'; position: relative; letter-spacing: -0.030em; }

.street-sign--smaller-text .street-sign__name { font-size: 102.61194%; line-height: 0.62; padding-top: 0.05em; }

.street-sign__name sup { font-size: 50%; letter-spacing: 0; margin-left: 0.125em; vertical-align: baseline; position: relative; top: -0.67em; }

.street-sign__name:empty::before { content: '\a0'; }

.street-sign__designator { display: block; font-size: 32.64925%; line-height: 0.62; padding-top: 0.05em; font-family: 'FHWA Series D'; }

.street-sign__designator:empty::before { content: '\a0'; }

.street-sign__block-number-decal { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: 1.77em; position: relative; border-style: solid; border-color: transparent; border-width: 0.03125em 0.0625em; background-color: rgba(0, 0, 0, 0.125); -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding-top: 0.09375em; padding-bottom: 0.09375em; }

.street-sign__block-number-decal::before { content: ''; display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; border: 0.03125em solid white; border-radius: 0.0625em; }

.street-sign__block-number { font-family: 'FHWA Series C'; font-size: 60.63433%; line-height: 0.62; padding-top: 0.05em; }

.street-sign__block-number:empty::before { content: '\a0'; }

label { display: block; margin-top: 1rem; margin-bottom: 1rem; text-align: center; }
