$font-line-height: 1 !default;
$font-padding-top: 0 !default;
$sup-adjust: 0 !default;

@import 'highway-var.scss';
@import 'series-a.scss';

:root {
    --ascent: 800;
    --descent: 200;
    --cap-height: 600;
    --blade: #bbbbbb;
    --blade-sh: rgba(0%, 0%, 0%, 0.2);
    --blade-hi: rgba(100%, 100%, 100%, 0.5);
    --green: #009900;
    --block-number-decal: #008c00;
    --white: white;
}

@mixin font-size($font-size) {
    --line-height: calc(
        (var(--ascent) - var(--descent)) / (var(--ascent) + var(--descent))
    );
    --padding-top: calc(
        (var(--cap-height) - var(--ascent) + var(--descent)) / (var(--ascent) + var(--descent))
    );
    --sup-adjust: calc(
        var(--cap-height) / (var(--ascent) + var(--descent))
    );
    font-size: calc(#{$font-size} / (var(--line-height) + var(--padding-top)));
    line-height: var(--line-height);
    padding-top: calc(1em * var(--padding-top));
}

@mixin series-a() {
    font-family: 'Series A';
    --ascent: 960;
    --descent: 192;
    --cap-height: 768;
}

@mixin series-b() {
    font-family: 'Series B';
    font-variation-settings: 'wdth' 100;
    --ascent: 822;
    --descent: 178;
    --cap-height: 670;
}

@mixin series-c() {
    font-family: 'Series C';
    font-variation-settings: 'wdth' 150;
    --ascent: 822;
    --descent: 178;
    --cap-height: 670;
}

@mixin series-d() {
    font-family: 'Series D';
    font-variation-settings: 'wdth' 200;
    --ascent: 822;
    --descent: 178;
    --cap-height: 670;
}

.series-a { @include series-a(); @include font-size(100%); }
.series-b { @include series-b(); @include font-size(100%); }
.series-c { @include series-c(); @include font-size(100%); }
.series-d { @include series-d(); @include font-size(100%); }

$blade: #bbbbbb;
$green: #009900;
$block-number-decal: #008f00;
$white: white;

.ss {
    text-align: center;
    font-size: 8em;
}
.ss__extruded-blank {
    display: inline-block;
    height: 1em;
    min-width: calc(1em * 30/6.75); // 30 inches
    @for $i from 6 through 14 {
        $inches: $i * 3;
        .ss--blank-size-#{$inches} & {
            min-width: calc(1em * #{$inches} / 6.75);
        }
    }
    position: relative;
    background-color: var(--blade);
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        background-image: linear-gradient(
            to bottom,
            transparent       calc(100% / 9),
            var(--blade-sh)   calc(100% / 9 + 1%),
            var(--blade-sh)   calc(100% / 9 + 3%),
            transparent       calc(100% / 9 + 4%),
            transparent       calc(100% * 8/9 - 4%),
            var(--blade-hi)   calc(100% * 8/9 - 3%),
            var(--blade-hi)   calc(100% * 8/9 - 1%),
            transparent       calc(100% * 8/9)
        );
        z-index: 1;
        pointer-events: none;
    }
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.ss__main-decal {
    font-size: calc(100% * 4/6.75); // 4 inches
    height: calc(1em/4 * 5.25); // 5.25in
    margin-top:    calc(1em/4 * .75);  // 3/4in
    margin-left:   calc(1em/4 * .75);  // 3/4in
    margin-right:  calc(1em/4 * .75);  // 3/4in
    margin-bottom: calc(1em/4 * .75);  // 3/4in
    border: calc(1em/4 * .25) solid var(--white); // 1/8in
    background-color: $green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.ss__layout {
    // position: absolute;
    // left: 0;
    // right: 0;
    height: 1em;
    // top: 50%;
    // transform: translateY(-50%);
    .ss__layout__direction {
        display: flex;
        position: relative;
    }
    .ss__layout__street-name {
        position: relative;
    }
    .ss__layout__street-type {
        position: relative;
    }
    .ss__layout__block-number {
        position: relative;
    }
}

.ss__layout--grid {
    --gap: 0.125em;
    display: inline-grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: '. . street-name . . street-type  . .'
                         '. . street-name . . .            . .'
                         '. . street-name . . block-number . .';
    grid-template-columns:
        1fr var(--gap) auto
        1fr var(--gap) auto
        1fr var(--gap);
    @at-root .ss--with-direction & {
        grid-template-areas: '. . direction . . street-name . . street-type  . .'
                             '. . direction . . street-name . . .            . .'
                             '. . direction . . street-name . . block-number . .';
        grid-template-columns:
            1fr var(--gap) auto
            1fr var(--gap) auto
            1fr var(--gap) auto
            1fr var(--gap);
    }
    align-items: center;
    align-content: space-between;
    .ss__layout__direction {
        grid-area: direction;
        align-self: center;
        justify-self: center;
    }
    .ss__layout__street-name {
        grid-area: street-name;
        align-items: center;
        align-self: center;
        justify-self: center;
    }
    .ss__layout__street-type {
        grid-area: street-type;
        align-self: start;
        justify-self: center;
    }
    .ss__layout__block-number-blank {
        grid-area: block-number;
        align-self: end;
        justify-self: center;
    }
    .ss__layout__block-number-decal {
        grid-area: block-number;
        align-self: end;
        justify-self: center;
    }
}

.ss__direction-wrapper {
    height: calc(1em * 4/4);    // 4in
    width:  calc(1em * 4/4);    // 4in
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    > .ss__direction {
        @include series-c();
        @include font-size(100% * 1.5/4); // 1.5in
        &.ss__direction--2-character {
            @include font-size(100% * 1.25/4); // 1.25in
        }
        color: $green;
        position: absolute;
        left: 0; width: 100%;
        top: 50%; transform: translateY(-50%);
    }
}
.ss__street-name {
    @include series-b();
    @include font-size(100%);
    .ss--small-text & {
        @include font-size(100% * 3/4); // 3in
    }

    .ss--series-a & {
        @include series-a();
    }
    .ss--series-c & {
        @include series-c();
    }
    .ss--series-d & {
        @include series-d();
    }
    color: var(--white);
    display: block;
    letter-spacing: 0;
    sup {
        font-size: 50%;

        letter-spacing: 0;
        margin-left: 0.125em;
        vertical-align: baseline;
        position: relative;
        top: -$sup-adjust * 1em;
    }
}

.ss__street-type {
    @include series-d();
    @include font-size(100% / 4); // 1in

    color: var(--white);
    display: block;
}

.ss__block-number-blank {
    display: block;
    min-width: calc(1em / 4 * 7.5); // 7.5in
    height: calc(1em / 4 * 2.75);   // 2.75in
    background-color: var(--white);
    border-radius: calc(1em / 4 * 0.25); // 1/4in
    margin-left: calc(1em / 4 * #{(8 - 7.5) / 2}); //
    margin-right: calc(1em / 4 * #{(8 - 7.5) / 2});
}

.ss__block-number-decal {
    min-width: calc(1em / 4 * 8); // 8in
    padding-left: calc(1em / 4 * #{(8 - 7.5) / 2}); // 1/4in
    padding-right: calc(1em / 4 * #{(8 - 7.5) / 2}); // 1/4in
    background-color: $block-number-decal;
    height: calc(1em / 4 * 3);  // 3in
    margin-top: calc(-1em / 4 * 0.125); // -1/8in
    margin-bottom: calc(-1em / 4 * 0.125); // -1/8in
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 1px rgba(black, 0.5);
    @at-root .ss--with-no-block-number & {
        display: none;
    }
}

.ss__block-number-border {
    display: block;
    min-width: calc(1em / 4 * 7.5); // 7.5in
    height: calc(1em / 4 * 2.75);   // 2.75in
    border: calc(1em / 4 * 0.125) solid var(--white); // 1/8in
    border-radius: calc(1em / 4 * 0.25);        // 1/4in
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ss__block-number {
    display: block;
    @include series-c();
    @include font-size(1em * 2/4); // 2in
    color: var(--white);
    padding-left: 0.125em;
    padding-right: 0.125em;
}

.ss__block-number-wrapper {
    display: block;
    min-width: calc(1em / 4 * 8); // 8in
}

#concave-diamond-path {
    width: 1em;
    height: 1em;
    fill: var(--white);
}
